Thumbs.db
*.aps
*.suo
*.vspcc
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.psd
*.sbr
*.sdf
*.opensdf
*.exp
~*.*
.idea/
ipch/
stage*/
qbuild*/
cache*/
_ReSharper*/
[Dd]ebug*/
[Rr]elease*/
[Tt]est[Rr]esult*
[Dd]ebug_*/
[Hh]ybrid_*/
[Rr]elease_*/